body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin-top: 0;
    font-family: 'Seymour One', serif;
}

h2{
    font-family: 'Montserrat Alternates', sans-serif;
}

h3{
    font-family: 'Montserrat Alternates', sans-serif;
}

.upper{
    background-color: #9D3C72;
    position: relative;
    padding-top: 100px;
}

.middle{

}

.lower{
    background-color: #9D3C72;
}

.skill-row1{
    margin: 100px auto 100px auto;
}

.intro{
    width: 30%;
    margin: auto;
    
}

.cloud1{
    position: absolute;
    right: 300px;
    top: 10px;
}

.cloud2{
    position: absolute;
    left: 300px;
    top: 200px;
}
